/* 공통 */
:root {
  --text-color: #333;
  --sub-text-color: #888;
  --black-reverse-text-color: #fff;

  --dark-background-color: rgb(27, 41, 38);

  --big-font-size: 2em;
  --middle-font-size: 1.3em;
  --small-font-size: .6em;

  --font-Stylish: 'Stylish', 'Noto Sans KR', sans-serif;
}
body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Noto Sans KR', 'Roboto', 'Stylish', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 1000px
}
img, table {
  display: block;
}
.font-big {
  font-size: var(--big-font-size);
}
.font-middle {
  font-size: var(--middle-font-size);
}
.font-small {
  font-size: var(--small-font-size);
  color: var(--sub-text-color);
}
/* 메뉴바 */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
}
.inner {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_menu {
  background-color: rgb(255, 255, 255);
  padding: 4px 20px;
  font-size: 14px;
}
.home, .mainMenu, .subMenu {
  display: flex;
  list-style: none;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--sub-text-color);
  text-align: center;
  width: 80px;
}
a:hover:not(.home a) {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: 400;
}
.mainMenu li::after,
.subMenu li::after {
  content: "|";
  margin: 0 10px;
}
.mainMenu li:last-child::after,
.subMenu li:last-child::after {
  display: none;
}
.home li a {
  display: flex;
  margin-left: 10px;
}
.home img {
  width: 20px;
  margin-right: 10px;
  transition: .7s;
}
.home li a:hover img {
  transform: scale(1.3);
}

/* totop */
#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transform: translateX(200px);
  opacity: .5;
  z-index: 10;
}

#toTop:hover {
  opacity: 1;
}