:root {
  --border-normal: 1px solid #333;
  --border-sub: 1px solid #c88c00;
  --border-sub2: 1px solid #006b37;
}
/* mainVisual */
.mainVisual {
  min-width: 1000px;
  min-height: 700px;
  position: relative;
  background-image: linear-gradient(to bottom, rgb(255, 207, 207, 0) 70%, rgb(152, 241, 255));
}
.mainVisual .swiper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  height: 430px;
}
.mainVisual .swiper .swiper-slide {
  width: 100%;
  height: 400px;
}
.mainVisual .visual-content {
  font-size: var(--middle-font-size);
  font-weight: 400;
  width: 400px;
  position: absolute;
  margin-left: 20px;
  bottom: 20px;
}
.mainVisual .visual-content p {
  float: left;
  margin: 15px 0 0 20px;
}
.mainVisual .visual-content p:nth-child(2){
  clear: both;
}
.mainVisual .img-box {
  width: 550px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.mainVisual .img-box img {
  position: absolute;
}
.mainVisual .swiper-slide .bowling img{
  opacity: 0;
}
.mainVisual .img-box.bowling img:first-child {
  width: 300px;
  left: 10px;
  bottom: 30px;
  transform: rotate(-25deg);
  z-index: 1;
  transition: opacity .5s .5s;
}
.mainVisual .img-box.bowling img:nth-child(2) {
  height: 300px;
  right: 55px;
  transform: rotate(38deg);
  transition: opacity 1.3s 1s;
}
.mainVisual .img-box.bowling img:last-child {
  height: 300px;
  top: -25px;
  left: 160px;
  transform: rotate(323deg);
  transition: opacity 1.3s 1.3s;
}
.mainVisual .swiper-slide-active .bowling img {
  opacity: 1;
}
.mainVisual .img-box.climbing img:first-child {
  width: 380px;
  right: 0;
  bottom: 0;
}
.mainVisual .img-box.climbing img:nth-child(2) {
  width: 250px;
  left: 100px;
  bottom: 0;
}
.mainVisual .img-box.climbing img:last-child {
  width: 200px;
  top: -20px;
  left: 20px;
}
.mainVisual .visual-content p {
  opacity: 0;
  transition: 2.4s;
}
.mainVisual .swiper-slide-active p {
  opacity: 1;
}
.mainVisual .swiper-next,
.mainVisual .swiper-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainVisual .swiper-next {
  right: calc(50% - (450px + 50px + 10px));
}
.mainVisual .swiper-prev {
  left: calc(50% - (450px + 50px + 10px));
}
.mainVisual .swiper-next .material-icons,
.mainVisual .swiper-prev .material-icons {
  font-size: var(--big-font-size);
  cursor: pointer;
}
.mainVisual .swiper-next:hover .material-icons,
.mainVisual .swiper-prev:hover .material-icons {
  border: 1px solid #777;
  padding: 5px;
  border-radius: 50%;
}
.mainVisual .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  position: absolute;
  top: 410px;
  background: #fff;
}
.mainVisual .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgb(134, 220, 234);
}
/* toggle */
.subInfo-line {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 1000px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  color: var(--black-reverse-text-color);
  background-color: var(--dark-background-color);
}
.subInfo-line .toggle_left,
.subInfo-line .toggle-right {
  position: absolute;
  width: calc(100% / 2);
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sub-text-color);
  box-sizing: border-box;
  cursor: pointer;
}
.subInfo-line .toggle_left {left: 0;}
.subInfo-line .toggle-right {right: 0;}
.subInfo-line h4 {
  margin: 0;
}
.subInfo-line .toggle-icons { 
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
}
.subInfo-line .toggle-icons .material-icons {
  margin-left: 10px;
  font-size: 30px;
  bottom: 0;
}
.subInfo-line .toggle-icons .material-icons.rotate {
  transform: rotateX(180deg);
}
/* toggle content */
.subInfo {
  position: relative;
  width: 1000px;
  margin: auto;
  height: calc(100vh - 120px - 10px);
}
.content-box {
  position: absolute;
  width: 1000px;
  height: 620px;
  transition: opacity .7s, height .5s;
}
.subInfo .content-box.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
/* bowling */
.bowling-wrap {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-weight: 400;
  background-color: #fff;
}
.bowling-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: var(--border-sub);
}
.bowling-box  div{
  padding: 5px;
}
.bowling-content {
  border: var(--border-sub);
  border-top: 1px solid rgba(255, 255, 255, 0);
}
.bowling-box:nth-child(3) {
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.bowling-box:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0);
}
.bowling-box.hover {
  background-color: #FEB100;
}
.bowling-box.hover p:nth-child(2) {
  position: absolute;
  left: calc(50% - 60px);
  top: 4px;
  font-weight: 700;
  font-size: 1.1em;
  opacity: 0;
}
.bowling-box.hover:hover p:nth-child(2) {
  opacity: 1;
}
.bowling-box div {
  width: calc(100%/4);
}
.bowling-box:nth-child(3),
.bowling-box:nth-child(4) {
  height: 250px;
}
.bowling-box img {
  height: 90%;
  margin: 0 10px;
  opacity: .5;
}
.bowling-box img:hover {
  opacity: 1;
}

/* climbing */
.climbing-wrap {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-weight: 400;
}
.climbing-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: var(--border-sub2);
}
.climbing-box  div{
  padding: 5px;
}
.climbing-content {
  border: var(--border-sub2);
  border-top: 1px solid rgba(255, 255, 255, 0);
}
.climbing-box:nth-child(3) {
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.climbing-box:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0);
}
.climbing-box.hover {
  background-color: #4D836C;
}
.climbing-box.hover p {
  color: #fff;
}
.climbing-box.hover p:nth-child(2) {
  position: absolute;
  left: calc(50% - 70px);
  top: 4px;
  font-weight: 700;
  font-size: 1.1em;
  opacity: 0;
}
.climbing-box.hover:hover p:nth-child(2) {
  opacity: 1;
}
.climbing-box div {
  width: calc(100%/4);
}
.climbing-box:nth-child(3),
.climbing-box:nth-child(4) {
  height: 250px;
}
.climbing-box img {
  height: 90%;
  margin: 0 10px;
  overflow: hidden;
}
.climbing-box img:hover {
  transform: scale(1.02);
}

