/* 공통 */
:root {
  --text-color: #333;
  --sub-text-color: #888;
  --reverse-text-color: #fff;

  --background-color: #4D836C;

  --big-font-size: 2em;
  --middle-font-size: 1.3em;
  --small-font-size: .8em;
}
html, body {
  height: 100%;
  background-color: rgb(234, 234, 234);
}
body {
  font-family: 'Noto Sans KR', 'Stylish', 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.form-signin {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-radius: 5%;
  padding: 15px;
  background-color: #fff;
}
.icon {
  width: 50px;
  background-color: var(--background-color);
  color: var(--reverse-text-color);
  margin: auto;
  text-align: center;
  line-height: 1.5;
  border-radius: 20%;
}
form .input-box {
  margin: 15px 20px;
  padding: 0 20px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
input {
  height: 23px;
  outline: none;
}
.span-box {
  width: 100%;
  height: 16px;
  text-align: center;
  color: var(--sub-text-color);
  font-size: var(--small-font-size);
}
.input-box.agree {
  display: flex;
  justify-content: center;
  height: 24px;
}
#agreeCheck {
  margin: .5px 5px;
}
.btn-submit {
  display: block;
  margin: 10px auto;
  padding: 5px;
  cursor: pointer;
  border: 0;
}
.btn-submit:hover {
  background-color: #c6c6c6;
}
#thisYear {
  margin: 10px;
  color: var(--sub-text-color);
  font-size: var(--small-font-size);
}